@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* Hide scrollbar styling for kanban horizontal scroll */
.kanban-scroll::-webkit-scrollbar {
  height: 10px;
}
.kanban-scroll::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 9999px;
}
